/* gelobal */

*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
.search_bouns::-webkit-calendar-picker-indicator{
    cursor: pointer;
    color: red;
}
a{
    text-decoration: none;
}
.container{
    margin: auto;
    padding: 2px;
}
.active{
        background-image: linear-gradient(to bottom,#0037b6,#012363ed);
        flex-basis: 110px;
}
.checked{
    background-color: rgba(153, 255, 0, 0.253);
}
.checked td{
    color: #a6ff00;
}

 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#152145, #4382DF);
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 5PX;
}
.header .image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
}
 .header p{
    color: white;
    margin: 0 10px;
    font-size: 19px;
    font-weight: bold;
}
.header i{
    display: block;
    padding: 5px;
    background-color: white;
    font-size: 18px;
    border-radius: 8px;
}

img{
    display:flex;
    width: 100%;
}

nav{
    width: 99%;
    background-image: linear-gradient(to bottom,#012066, #2a75ee);
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 6px;
}
nav div{
    width: 40%;
    color: white;
}

/* gelobal */



.main_div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;

}
.main_div .nav_bar{
    display: flex;
    background-color: #152145;
    text-align: center;
    padding: 8px 4px;

}
.main_div .nav_bar.hidden{
    width: 0;
}

.main_div .nav_bar .icon_links {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.main_div .nav_bar .icon_links .box {
    width: 55px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 5px ;
    border-radius: 6px;
    margin: 0 2px ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    transition: .3s ease-in-out;
}


.main_div .nav_bar .icon_links .box i{
    font-size: 25px;
    margin:5px 0;
}
.main_div .nav_bar .icon_links .box p{
   display: none;
}
.main_div .nav_bar .icon_links .box.active p{
   display: block;
   font-size: 15px;
}

.main_div .content .info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
   
}
.main_div .content .info .box{
     width:45%;
     background-image: linear-gradient(to left,#0037b6,#012363ed);
     border-radius: 4px;
     padding: 5px;
}
.main_div .content .info .box .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.main_div .content .info .box .content p{
    font-size: 16px;
    font-weight: bold;
}
.main_div .content .info .box .content i{
    width: 40px;
    height: 40px;
    line-height: 1.8;
    background-color: #3a3cad;
    font-size: 23px;
    font-weight: bold;
    border-radius: 15px;
}
.main_div .content .info .box h2{
    text-align: center;
    padding: 5px;
    color: white;
}
.main_div input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
}
input[type="search"]{
   background-image: linear-gradient(to bottom,#012066, #2a75ee);
   color: white;
   width: 100%;
}

.main_div .content .ttabel{
    height:272px;
}
.main_div .add_coustmer .ttabel{
    height:217px;
}
.main_div .collection .container .ttabel{
    height: 450px;
}
.ttabel{
    overflow-y: auto;
    padding: 4px;
    background-image: linear-gradient(#0f172a, #1e3a68); 
    border-radius: 4px;
    margin-bottom: 5px;
}

table{
    width: 100%;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    border: 4px;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #152145;
    color: white;
}

thead{
    background-color: #0e2a68 ;
    color: white;
    position: sticky;
    top: -4px;
    z-index: 100;
}
th,td{
    padding-left:4px;
    width: 40px;
    margin: 5px 0;
    padding: 4px 0 ;
    border: none;
}
tbody{

    background-image: linear-gradient(to left,#0037b6,#012363ed);
}
td{
    color: white;
}
td a{
    color: white;
}
tr.activew{background-color: rgb(49, 153, 7);}



/* add_coustmer  */

.add_coustmer{
    padding: 5px 5px 0;
    height: 100dvh;
    background-color:#d6e1f3;
}
.add_custmer_text{
    direction: rtl;
      font-size: 18px;
    font-weight: bold;
}
.add_custmer_text i{
    margin-left: 15px;
    width: 50px;
    height: 40px;
    line-height: 2;
    border-radius: 10px;
    background-color: #4381df5e;
    color: #035ee6;
}
.coustmer_data{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 7px;
    border-radius: 4px;
    background-color: #fefefe;
}
.coustmer_data input{
    width:38%;
    direction: rtl;
    font-size: 14px;
    font-weight: 600;
}

.coustmer_data .full{
    width: 100%;
}
.submit{
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to left,#004cf7,#2253aded);
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
}
.Rem_Amount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 46%;
    text-align: center;
    border-radius: 4px;
    background-color: #b9d1fb;
    color: #004cf7;
    font-size: 14px;
    font-weight: 600;
}
#Rem_Amount{
    font-weight: 600;
    font-size: 16px;
}

/* add_coustmer  */

/* visit */
.visit{
    padding: 5px;
    background-color:#d6e1f3;
}
/* #1e3a68 */
.visit_coustmer_data{
    direction: rtl;
    background-color: white;
    border-radius: 6px;
    padding: 8px;
}
.visit_coustmer_data .visit_data{
    margin: 10px auto;
    width: 120px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #4f89e9 ;
}
.visit_coustmer_data .visit_data i{
    font-size: 25px;
}

.visit_coustmer_data .input_visit_data{
    width: 100%;
}
.visit_coustmer_data .input_visit_data .data_box{
    margin-bottom: 20px;
}
.visit_coustmer_data .input_visit_data .data_box p{
    margin-bottom: 10px;
 }
.visit_coustmer_data .input_visit_data .data_box p::before{
    content: "*";
    margin-left:5px;
    color: red;
 }
.visit_coustmer_data .input_visit_data .data_box input{
    background-color: white;
    border: .1px solid #7777775b;
    width: 93%;
    border-radius: 6px;
}
.visit_coustmer_data .input_visit_data .submit {
    width: 94%;
    margin: 10px auto;
    border-radius: 6px;
}
/* visit */
/* collection */

.collection_status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.collection_status .collection_data{
    background-image: linear-gradient(to bottom,#0037b6,#012363ed);
    display: flex;
    flex-wrap: wrap;
    width: 43%;
    padding: 0 10px;
    color: white;

}
.collection_status .collection_data div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2px 0;
}
/* collection */

/* Bouns */
.searchdate{
    display: flex;
    align-items: center;
    background-color:#022050;
    width: fit-content;
    margin: 1px auto;
    border-radius: 6px;
    padding: 0 15px;
}
.searchdate p,.searchdate i{
    color: rgb(196, 196, 196);
    margin: 6px;

}
/* Bouns */

/* safes */
.data_safes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 5px;
}
.data_safes .safe{
    width: 40%;
    background-color:#022050;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
}

/* safes */

/* safes_today */
.data_input{
background-color: #0037b6;

 display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding: 5px;
margin-bottom: 7px;
}
.transactionType{width: 100%;
    

}
#transactionType{
border-radius: 5px;
border: none;
float: right;
width: 100%;
padding: 10px;
margin-bottom: 5px;
background-color:#022050;
color: white;
}
.input_data input[type="number"]{
width: 93%;
margin-bottom: 5px;

}
.input_data input{
width: 93%;
margin-bottom: 5px;
background-color:#011d4bce;
color: white;
}

.data_input button{
    width: 100%;
    padding: 8px 40px ;
    border-radius: 5px;
    border: none;
    background-color:#022050;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.tabel_save_to_day{
     max-height: 380px;
    overflow-y: auto;
}

.tabel_save_to_day input{
    height: 1px;
    background-color: transparent;
}

.money-minus{
    color: red;
    font-weight: bold;
}

.money-plus{
    color: rgb(6, 240, 6);
    font-weight: bold;

}

textarea {
    width: 100%;
    min-height: 1px;
    background: transparent;
    color: white;
    border: 1px solid #555;
    outline: none;
    border: none;
    resize: vertical;
    box-sizing: border-box;
    line-height: .77;
}

/* safes_today */

